
@font-face {
  font-family: Karrik;
  src: url(Karrik-Regular.ttf);
}

p{
    font-family: Karrik;
}
html{
   width: 100%;
   overflow-x: hidden !important;
}
  .nav{
     height:12px;
   }
   iframe{
     margin:0 auto;
     margin-left:-44%;
     position:relative;
     border:none;
     width:90vw;
     height:100vh;
   }

   .mapWrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
padding-right:25px;
height: 0;
}
.mapWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 190%;
height: 170%;
}

#scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color:pink;
    padding: 1rem;
    width:240%;
    margin-left:-70%;
  }

  #scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  article {
    position: relative;
    padding: 0 1rem;
    max-width: 30rem;
  }

  figure {
    position: -webkit-sticky;
    position: sticky;
    width: 200%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: ;
    z-index: 0;
  }

  figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  .step {
    margin: 0 auto 2rem auto;
    font-family: Karrik;
    background-color: #3b3b3b;
    color: #fff;
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step.is-active {
    background-color: goldenrod;
    color: #3b3b3b;
  }

  .step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
  }
}
